<a mat-stroked-button (click)="addNewUser()" color="primary" style="margin: 25px 0" matTooltip="Add New User" matTooltipPosition="above" matTooltipClass="mat-tooltip"><mat-icon>add</mat-icon></a>
 
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
  </mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell  *matHeaderCellDef style="width: 225px;"></th>
        <td mat-cell *matCellDef="let element" style="width: 225px;">
            <a routerLink="user/{{element.id}}" mat-stroked-button color="primary" style="margin-right: 7px;" matTooltip="User Details" matTooltipPosition="above" matTooltipClass="mat-tooltip"><mat-icon>arrow_circle_right</mat-icon></a>
            <a mat-stroked-button (click)="editUser(element)" color="primary" style="margin-right: 7px;" matTooltip="Edit User" matTooltipPosition="above" matTooltipClass="mat-tooltip"><mat-icon>edit</mat-icon></a>
            <a mat-stroked-button (click)="deleteUser(element)" color="warn" matTooltip="Delete User" matTooltipPosition="above" matTooltipClass="mat-tooltip"><mat-icon>delete</mat-icon></a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="10" aria-label="Select page of users"></mat-paginator>


